body {
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 600px; /* マップの高さ */
    width: 90%; /* マップの幅 */
    max-width: 800px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

#status {
    margin-top: 10px;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}